@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Works in Chrome, Edge, and Safari */

/* Track */
::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffa0a0; /* color of the scrollbar handle */
  border-radius: 10px; /* roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8080ff; /* color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* color of the track */
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  padding: 5px;
}
